[submodule "packages/cv-template"]
	path = packages/cv-template
	url = https://github.com/corentinffoucault/typescript_cv_template.git
[submodule "packages/json_cv_schema"]
	path = packages/json_cv_schema
	url = https://github.com/corentinffoucault/json_cv_schema
